# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\02.STSWork\10.rino5.0\ocf_lite_test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
